{% extends 'main.html' %}

{% block title %}
Mitruha sells - About
{% endblock title %}

{% block content %}
<div class="bg-white border-black border-1 rounded-xl shadow-[0px_0px_3px_5px_rgba(0,0,0,0.75)] p-5 mx-5">
    <h1>About Mitruha Sells</h1>
    <p>This is more than just a website; it's a showcase of my skills and creativity. Here, you'll find a collection of my personal belongings and custom-made clothes, all available for purchase. This project serves as a testament to my craftsmanship and attention to detail.

        What You'll Find:
        
            Personal Belongings: Browse through a selection of items that have been a part of my life's journey. Each piece has its own story and holds sentimental value.
            Custom-Made Clothing: Explore my passion for fashion with custom-designed clothing. Every garment is a reflection of my style and creativity, tailored to perfection.
        
        Payment Options:
        
            Bank Payments: Traditional bank transfers are accepted for those who prefer a standard payment method.
            Cryptocurrency: Embrace innovation and pay with cryptocurrency, reflecting my interest in cutting-edge technology and alternative finance.

        Thank you for visiting my personal marketplace and supporting my project. Your interest and patronage mean the world to me.
        </p>
</div>
{% endblock content %}