{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <title>{% block title %}{% endblock %}</title> 
    {% tailwind_css %}
    <style> 
        #item-detail-container.show {
            display: block;
        }
    </style>
</head>
<body class="bg-gradient-to-r from-orange-200 via-cyan-200 to-rose-300">
    {% include 'nav.html' %}
    {% block content %}

    {% endblock %}

</body>
</html>